body {
    margin: 0;
}


.header{
    border-bottom: 3px solid aqua;
    background-color: black;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header .container ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 400px;
    color: rgb(255, 94, 0);
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

.header .container ul li a {
    text-decoration: none;
    color: rgb(255, 94, 0);
}

.header .container h1{
    color: aqua;
}
